*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

h1{
    color: crimson;
    background-color: ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}